name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: '3.13'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Code Quality & Linting

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version:  ${{ env.PYTHON_VERSION }}

      - name: Install packages
        run: | 
          pip install -r requirements.txt
          pip install ruff safety bandit mypy 

      - name: Run Ruff
        run: ruff check src

      - name: Run mypy
        run: mypy run src main.py

      - name: Run Bandit
        run: bandit -r src

      - name: Check dependencies security
        run: safety check
        continue-on-error: true


